* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 50%;
  margin: auto;
}

.container {
  width: 70%;
  margin: auto;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

img {
  width: 100%;
  display: block;
}

.menu {
  list-style-type: none;
}

.visa {
  background-color: #0282f9;
  color: white;
  padding: 3px 0;
}
.visa .right {
  text-align: right;
  font-size: 10px;
}
.visa .right span {
  padding-left: 50px;
}
.visa .right #little {
  vertical-align: super;
  font-size: 8px;
  padding-left: 0;
}
.visa .right i {
  font-size: 8px;
}

nav {
  padding: 15px 0;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 5%;
}

.link a {
  text-decoration: none;
  color: #1c1c1c;
}
.link #active {
  padding: 0;
  margin: 0 15px;
  padding-bottom: 26px;
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}
.link li {
  display: inline;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.link li #arrow {
  vertical-align: text-top;
  color: #0282f9;
}

.search {
  width: 10%;
  display: flex;
  align-items: center;
}
.search input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #0282f9;
  padding-left: 40%;
  font-size: 13px;
}
.search label {
  border-bottom: 2px solid #0282f9;
  font-size: 12px;
}

.jumbotron {
  background-image: url(../img/jumbotron.jpg);
  height: 300px;
  background-size: cover;
}

main.home-shop {
  background-color: #1c1c1c;
}

.current {
  background-color: #0282f9;
  color: white;
  text-align: center;
  width: 170px;
  position: relative;
  left: 0;
  top: -18px;
}
.current h2 {
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px 15px;
}

.comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-comic {
  min-width: calc( 100% / 7 );
  max-width: calc( 100% / 7 );
  margin: 0 10px;
}
.single-comic .poster {
  overflow: hidden;
  height: 135px;
}
.single-comic .title-comic {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 30px;
}

.click {
  text-align: center;
}
.click button {
  padding: 10px 35px;
  font-size: 8px;
  color: white;
  font-weight: 600;
  background-color: #0282f9;
  border: none;
  margin-bottom: 25px;
}
.click button:hover {
  cursor: pointer;
}

.option {
  background-color: #0282f9;
  padding: 25px;
}
.option .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.single-opt {
  width: 18%;
  display: flex;
  align-items: center;
}
.single-opt span {
  padding-left: 10px;
  color: white;
}
.single-opt img {
  height: 40px;
  width: auto;
}

.single-opt:last-child img {
  width: 50px;
}

.copertina {
  background-color: #0282f9;
  height: 50px;
}
.copertina img {
  width: 130px;
  border: 1px solid white;
  position: relative;
  left: 0;
  top: -155px;
}

.details {
  width: 70%;
}
.details h2 {
  text-transform: uppercase;
}

.advertisment {
  width: 30%;
}

.footer-link-container {
  background-image: url(../img/footer-bg.jpg);
  height: 300px;
}
.footer-link-container .container {
  background-size: cover;
  display: flex;
}

.footer-link {
  width: 50%;
  padding-top: 25px;
}
.footer-link h3 {
  color: white;
  font-size: 15px;
}
.footer-link .menu.big {
  content: "";
  display: table;
  clear: both;
}
.footer-link .menu.big .type {
  float: right;
  width: calc( 100% / 3 );
  padding: 0 10px;
}
.footer-link .menu.big .type.shop {
  padding-top: 25px;
}
.footer-link li {
  font-size: 12px;
  text-transform: capitalize;
}
.footer-link li a {
  color: gray;
  text-decoration: none;
}

.copyright {
  padding-top: 20px;
  font-size: 11px;
  color: gray;
  margin-bottom: 25px;
}
.copyright a {
  text-decoration: none;
  color: #0282f9;
}

.logo-footer {
  width: 50%;
  height: 300px;
  background-image: url(../img/dc-logo-bg.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  background-color: #303030;
  padding: 25px 0;
}
.social .container {
  display: flex;
  justify-content: space-between;
}

.sign button {
  font-size: 11px;
  color: white;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #0282f9;
}
.sign button:hover {
  cursor: pointer;
}

.follow {
  display: flex;
  align-items: center;
}
.follow h4 {
  color: #0282f9;
  margin-right: 20px;
}
.follow li {
  display: inline-block;
  padding: 5px;
}
.follow li img {
  width: 25px;
}